body {
	background: #232323;
}

h1 {
	color: white;
}

.square {
	background-color: purple;
	float: left;
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
}

.container {
	max-width: 600px;
	margin: 0px auto;
}

#message {
	color: white;
}